@import "partials/colors.scss";

.header {
    padding: 0.5rem 12%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    z-index: 9999;
    background-color: $background-color;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.app-logo {
    width: 24px;
    height: 24px;
}

.app-name {
    font-weight: 700;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10%;
    justify-content: flex-end;
}

.menu-item {
    padding: 0 1rem;
    transition: opacity 0.3s ease;
    &:hover {
        opacity: 0.6;
    }
}