@import "partials/colors.scss";
@import "header";

:root {
    font-family: "Poppins", ui-sans-serif;

    --font-scale: 1.333;
    --p: 1rem;
    --h5: calc(var(--p) * var(--font-scale));
    --h4: calc(var(--h5) * var(--font-scale));
    --h3: calc(var(--h4) * var(--font-scale));
    --h2: calc(var(--h3) * var(--font-scale));
    --h1: calc(var(--h2) * var(--font-scale));
    --small: calc(var(--p) / var(--font-scale));
    --margin-lg: 0 12%;
    --margin-md: 0 6%;
    --border1: 1rem;
    --border05: 0.5rem;
}

p,
small,
a,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

* {
    box-sizing: border-box;
    scroll-padding-top: 3em;
    font-family: "Poppins", ui-sans-serif;
}

body {
    margin: 0;
    background-color: $background-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    width: auto !important;
    scroll-behavior: smooth;
    overflow: hidden;
    position: relative;
}

a {
    font-size: inherit;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

p {
    font-size: var(--p);
}

button {
    font-size: var(--p);
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

hr {
    margin: 0;
    border: none;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    color: rgba(0, 0, 0, 0.2);
    overflow: visible;
    text-align: center;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: $primary-color transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: $primary-color;
    border-radius: 10px;
    background-clip: content-box;
}
